body {
    margin: 0px;
    overflow: hidden;
}

rect {
    fill: rgb(5, 93, 145);
}

text {
    font-family: sans-serif;
}

.tick text {
    font-size: 1.7em;
    fill: #635F5D
}

.tick line {
    stroke: #c0c0bb
}

.axis-label {
    font-size: 4em;
    fill: #8e8883
}

.title {
    font-size: 2.3em;
    fill: #635F5D
}